body{
  font-family: FatFrank;
  color: #1D68ED;
  font-size:40px ;
  text-align: center;
  height: 100vh;
}
nav{
  font-family: nobel, sans-serif;
  font-weight: 200;
}
welcomeMessage{
  line-height: 100vh;
  height: 80%;
}
