body{
  background-image: url("954b84376cbb6c8cbaa6ba2b6ecad162.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px;
  border-color: black;
  border-style: solid;
  padding: 15px;
  padding-bottom: 20px;
}
